@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/*
-  .cards показував картки в ряд
-  між ними був gap: 20px
-  на вузькому екрані картки переносились (wrap)
-  кожна картка мала мінімальну ширину 280px, а далі підлаштовувалась

*/



body, html {
    font-family: "Google Sans", sans-serif;
     background-color: aliceblue;
}

.promo{
display: flex;
justify-content: center;
padding: 200px;
}

.promo-catd{
 
  box-sizing: border-box;
  background-color: rgb(255, 255, 255);
  max-width: 280px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
  padding-right: 18px;
  border-radius: 23px;
  box-shadow: 5px 15px 25px rgb(155, 155, 155);
}

.promo-catd h1,h2{
  margin: 0;
  padding: 0;
}

.promo-catd h1{
  font-size: 50px;
  font-weight: bolder;
  color: rgb(116, 18, 207);
}


.promo-catd h2{
  font-size: 25px;
  font-weight: bold;
  color: rgb(116, 18, 207);
}

.promo-catd p {
  font-size: 15px;
}

.promo-catd button{
  color: rgb(255, 255, 255);
  background-color: rgb(116, 18, 207);;
  width: 100%;
  padding:14px;
  border: 0;
  border-radius: 40px;
  font-size: 15px;
  cursor:  pointer;
}

