@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/*
-  .cards показував картки в ряд
-  між ними був gap: 20px
-  на вузькому екрані картки переносились (wrap)
-  кожна картка мала мінімальну ширину 280px, а далі підлаштовувалась

*/



body, html {
    font-family: "Google Sans", sans-serif;

}

*{
  box-sizing: border-box;
}

.cards{
 
  /* тут допиши */
  flex-wrap: wrap;
  gap: 20px; 
  display: flex;
}

.card{
  /* тут допиши */
  max-width: 280px;
  width: 100%;

}

.card img {
  min-width: 280px; 
  width: 100%;
}
